@font-face {
    font-family: norse-bold;
    src: url(fonts/norse-bold.otf);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.sidebar {
    background-image: url('images/halie-west.jpg');
    width: 35vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin-top: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>img {
    height: 6em;
}

.logo>span {
    font-family: norse-bold;
    font-size: 4em;
}

.contrib>a {
    color: #ffffff;
}

.footer {
    padding: 25px 50px;
}

.main {
    width: 100%;
    max-height: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

p {
    max-width: 55ch;
}

.header {
    font-size: 1.25em;
    font-weight: 700;
    width: 100%;
    background-color: #F9FAFB;
    margin: 0;
}

.hero {
    padding: 20px 75px;
    padding-top: 100px;
}

.form {
    background-color: #ffffff;
    padding: 20px 75px;
}

.form>p {
    font-size: 1.25em;
}

.form label {
    font-size: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 3px;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    flex: 50%;
    width: 80%;
}

input {
    border: 1px solid #E5E7EB;
    font-size: 1em;
    width: 80%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}